container {
  margin-bottom: 20px !important;
}

.selectors {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: auto;
  margin-top: 10px;
  align-items: center;
}

.selectors .css-yk16xz-control,
.selectors .css-1pahdxg-control {
  width: 100%;
}

.mainchart,.mainchart1,.mainchart2{
  display: flex;
  width: 1200px;
  background: white;
  margin-bottom: 20px;
  border-radius: 10px;
  border-top-right-radius: 15px;
}

#chartdiv,
#chartdiv2 {
  width: 1200px !important;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
  border: 10px solid white;
  margin-top: 10px;
}

.info-button{
  background: transparent;
  border: none;
  height: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.arrow-icon{
  width: 30px;
  height: 30px;
}

.filter-item {
  min-width: 40vw;
  margin: 0% 2%;
  max-width: 40vw;
}

.footer {
  color: white;
}

.donutChartDiv {
  color: black;
}

#donutChartDiv {
  background-color: white;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
  border: 1px solid white;
  margin-top: 10px;
  padding-left: 6px;
  padding-top: 5px;
}

.css-b62m3t-container {
  background-color: transparent;

}